@import "~bootstrap/scss/bootstrap.scss";
@import '~remixicon/fonts/remixicon.css';

$break-small: 538px;
$break-large: 1200px;
$navbar-bleed: 30px;

html, body {
  background: white;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;

  canvas {
    // touch-action: none;
  }
}

.touch-area {
  background-color: lightgray;
  position: relative;
  touch-action: none;
}

.reset-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.button-container {
  position: fixed;
  bottom:20px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

#add-gesture {
  display: inline-block;
  * {
    max-width: 60%;
    float: left;
  }
  width: 100%;

  .btn {
    float: right;
  }
}

.new-gesture {
  margin: 10px 5px;
  padding: 5px 5px;
  border: 1px solid #f7f7f7;
  cursor: pointer;
  > * {
    cursor: auto;
  }

  dd, dt {
    cursor: pointer;
  }

  &:not(.expanded) {
    .close-btn {
      content: " ✕ ";
      color: white;
      width: 17%;
      position: absolute;
      right: 0px;
      height: 100%;
      top: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      text-align: center;
      font-size: 30px;
      padding-top: 10px;
      max-height: 100%;
      
    }
  }
  &.expanded { 
    .close-btn {display: none;}
  }
}

.record-banner {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 20px;
  background-color: lightgreen;
  display: none;
}

#settingsModal {
  .touch-container {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
    
    &:hover {
      &:after {
        content: " ✕ ";
        width: 200px;
        min-height: 200px;
        background-color: #08080896;
        position: absolute;
        left: calc(50% - 100px);
        text-align: center;
        font-size: 123px;
        color: white;
        cursor: pointer;
      }
    }

  }
}